<h1>{{title}}</h1>


<form method="GET" action="/api/order">
    <fieldset id="type_pizza">
        <legend>Start selecting your pizza...</legend>
        {{#each pizza_builder.Pizza_types}}
        <div class="container">
            <img src="{{url}}" alt="Pepperoni pizza">
            <div>
                <input type="radio" name="type" id="{{pizza_type}}" value="{{pizza_type}}">
                <label for="{{pizza_type}}">{{pizza_type}}</label>
            </div>
            <p>{{description}}</p>
        </div>
        {{/each}}
    </fieldset>

    <fieldset>
        <legend>Select the size and Quantity</legend>
        {{#each pizza_builder.Sizes}}
        <div>
            <input type="radio" name="size" id="{{size}}" value="{{size}}">
            <label for="{{size}}">{{size}} - ${{price}}</label>
        </div>
        {{/each}}
    </fieldset>

    <div class="qtty">
        <label for="qtty">Quantity</label>
        <input type="number" name="qtty" id="qtty" placeholder="Quantity of Pizzas" value="1" step="1" min="1"
            max="3000">
    </div>

    <fieldset>
        <legend>Select what kind of toppings would you like</legend>
        {{#each pizza_builder.Toppings}}
        <div>
            <input type="checkbox" id="{{topping}}" name="toppings" value="{{topping}}">
            <label for="{{topping}}">{{topping}} - ${{price}}</label>
        </div>
        {{/each}}
    </fieldset>

    <fieldset class="column">
        <legend>Contact Info</legend>

        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="address" placeholder="Address">
        <input type="text" name="phone" placeholder="Phone XXX-XXX-XXXX" maxlength="20">
    </fieldset>

    <input id="submit" type="submit" name="submit" value="Next">

</form>